@tailwind base;
@tailwind components;
@tailwind utilities;

/* 공통 폰트 설정 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('/src/assets/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Pretendard-Regular', sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* 🌞 Light Theme (기본) */
:root {
  --color-point: #3384fa;
  --color-background: #ffffff;
  --color-text-white: #17171c;
  --color-gray-1: #e5e7eb;
  --color-logo-white: #111111;
  --color-black-chat: #f5f5f5;
  --color-input-gray: #f0f0f0;
  --color-primary-purple-100: #ddd6fe;
  --color-primary-purple-200: #c4b5fd;
  --color-primary-purple-300: #a78bfa;
  --color-primary-purple-400: #8b5cf6;
  --color-primary-purple-500: #7c3aed;
}

.dark {
  --color-point: #3384fa;
  --color-background: #17171c;
  --color-text-white: #fbfbfb;
  --color-gray-1: #2c2c35;
  --color-logo-white: #eae7e6;
  --color-black-chat: #101014;
  --color-input-gray: #272932;
  --color-primary-purple-100: #a78bfa;
  --color-primary-purple-200: #8b5cf6;
  --color-primary-purple-300: #7c3aed;
  --color-primary-purple-400: #6d28d9;
  --color-primary-purple-500: #5b21b6;
}
